{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		var socket = io.connect()
		socket.on('connect', function() {
			socket.send("User connected!");
			socket.send("Healthcare Chatbot: Hello, what symptoms are you experiencing today?");
		});

		socket.on('message', function(msg) {
			$('#messages').append('<li>' + msg + '</li>');
			console.log('Received message' + msg);
		});

		$('#sendBtn').on('click', function () {
			socket.send($('#myMessage').val());
			$('#myMessage').val('');
			console.log('Sent message' + $('#myMessage').val());
		});
	})
</script>
{% endblock %}

{% block body %}

<!-- navbar -->
<div class="navbar navbar-chat">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
		<div class="chat-user">
			<img src="static/images/logo.png" alt="image-demo">
			<div class="title-name">
				<h6>Healthcare Chatbot</h6>
				<span class="text-small">Online</span>
			</div>
		</div>
	</div>
	<div class="title">
		
	</div>
	<div class="right">
		<a href="#" class="link"><i class="icon ion-ios-more"></i></a>
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper pages-wrapper-chat">

	<!-- separator -->
	<div class="separator-medium"></div>
	<!-- end separator -->
	
	<!-- chat -->
	<div class="chat">
		<div class="container">

			<!-- testing with socketio -->
			<ul id="messages">
			</ul>

			<div class="chat-form">
				<div class="form-fill form-icon-inset">
					<div class="form-wrapper">
						<div class="input-wrap">
							<input class="pl-0 pr-0" type="text" id="myMessage" name="symptom" placeholder="Type Message">
							<div class="button-icon button-send">
								<button id="sendBtn" type="submit" class="fabutton">
									<i class="fa-solid fa-paper-plane"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end chat -->

</div>
<!-- end pages wrapper -->

{% endblock %}