{% extends "base.html" %}

{% block body %}

<!-- navbar -->
<div class="navbar navbar-chat">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
		<div class="chat-user">
			<img src="static/images/logo.png" alt="image-demo">
			<div class="title-name">
				<h6>Healthcare Chatbot</h6>
				<span class="text-small">Online</span>
			</div>
		</div>
	</div>
	<div class="title">
		
	</div>
	<div class="right">
		<a href="#" class="link"><i class="icon ion-ios-more"></i></a>
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper pages-wrapper-chat">

	<!-- separator -->
	<div class="separator-medium"></div>
	<!-- end separator -->
	
	<!-- chat -->
	<div class="chat">
		<div class="container">

			<!-- chat people -->
			<div class="chat-people">
				<div class="chat-item text-small">
					<div class="chat-date"><span id="time"></span></div>
					<div class="chat-text">
						<p>Hello! What symptoms are you experiencing now?</p>
					</div>
					<div class="triangle angle-left"></div>
				</div>
			</div>
			<!-- end chat people -->

			<!-- separator -->
			<div class="separator-large"></div>
			<!-- end separator -->

			<!-- my chat -->
			<div class="my-chat">
				<div class="chat-item text-small bg-my-chat">
					<div class="chat-date"><span>10:08</span></div>
					<div class="chat-info-seen"></div>
					<div class="chat-text">
						<p>i have back pain</p>
					</div>
					<div class="triangle angle-right"></div>
				</div>
			</div>
			<!-- end my chat -->

			<!-- separator -->
			<div class="separator-large"></div>
			<!-- end separator -->

		</div>

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<div class="chat-form">
			<form action="/submit-diagnosis" method="post" class="form-fill form-icon-inset">
				<div class="form-wrapper">
					<div class="input-wrap">
						<div class="input-file">
							<label for="icon-upload" class="mb-0"><i class="icon ion-ios-camera"></i></label>
							<input type="file" id="icon-upload">
						</div>
						<input class="pl-0 pr-0" type="text" name="symptom" placeholder="Type Message">
						<a href="#">
							<div class="button-icon button-send">
								<i class="icon ion-ios-paper-plane"></i>
							</div>
						</a>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- end chat -->

</div>
<!-- end pages wrapper -->

{% endblock %}

{% block scripts %}
<script>
	var dt = new Date();
	var n = dt.toLocaleTimeString();
	document.getElementById('time').innerHTML = n;
</script>
{% endblock %}