{% extends "base.html" %}

{% block body %}

<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
	</div>
	<div class="title">
		Login
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->
	
	<!-- login -->
	<div class="sign in">
		<div class="container">
			<form class="form-fill" method="POST" action="">
				<div class="form-wrapper">
					{{ form.hidden_tag() }}
					<div class="input-wrap">
						{{ form.username }}
					</div>
					<div class="input-wrap">
						{{ form.password }}
					</div>
				</div>
				<div class="button-default">
					{{ form.submit(class_="button") }}
				</div>
			</form>
			
			<!-- separator -->
			<div class="separator-medium"></div>
			<!-- end separator -->

			<div class="link-forgot text-center text-small">
				<a href="{{ url_for('auth.reset_password') }}" class="color-theme">Forgot Password?</a>
			</div>

			<!-- separator -->
			<div class="separator-small"></div>
			<!-- end separator -->

			<div class="link-sign-up text-center text-small">
				<p>Don't have an account?<a href="{{ url_for('auth.register') }}" class="color-theme ml-2">Register</a></p>
			</div>

			<!-- separator -->
			<div class="separator-large"></div>
			<!-- end separator -->

		</div>
	</div>
	<!-- end login -->

</div>
<!-- end pages wrapper -->

{% endblock %}