{% extends "base.html" %}

{% block body %}

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->
	
	<!-- register -->
	<div class="sign-up">
		<div class="container">
			<form class="form-fill" method="POST" action="">
				<div class="form-wrapper">
					{{ form.hidden_tag() }}
					<div class="input-wrap">
						{{ form.username }}
					</div>
					<div class="input-wrap">
						{{ form.password }}
					</div>
				</div>
				<div class="button-default">
					{{ form.submit(class_="button") }}
				</div>
			</form>

			<!-- separator -->
			<div class="separator-medium"></div>
			<!-- end separator -->

			<div class="link-sign-up text-center text-small">
				<p>Have an account?<a href="{{ url_for('auth.login') }}" class="color-theme ml-2">Login</a></p>
			</div>

			<!-- separator -->
			<div class="separator-large"></div>
			<!-- end separator -->

		</div>
	</div>
	<!-- end register -->

</div>
<!-- end pages wrapper -->

{% endblock %}