{% extends "base.html" %}

{% block body %}

<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="fa-solid fa-arrow-left"></i></i></a>
	</div>
	<div class="title">
		Reset Password
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->
	
	<!-- reset password -->
	<div class="reset-password">
		<div class="container">
			<div class="icon-title">
				<i class="fa-solid fa-unlock"></i>
				<h5 class="mb-1">Reset Password</h5>
				<span class="text-small">Enter the email address associated with your account</span>
			</div>

			<!-- separator -->
			<div class="separator-medium"></div>
			<!-- end separator -->

			<form class="form-fill">
				<div class="form-wrapper">
					<div class="input-wrap">
						<input type="email" placeholder="Email">
					</div>
				</div>
				<div class="button-default">
					<button class="button">Confirm</button>
				</div>
			</form>
		</div>
	</div>
	<!-- end reset password -->

</div>
<!-- end pages wrapper -->

{% endblock %}