{% extends "base.html" %}

{% block body %}

<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
	</div>
	<div class="title">
		Cards
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->
	
	<!-- cards -->
	<div class="cards">
		
		<!-- section title -->
		<div class="section-title">
			<h6>Card Default</h6>
		</div>
		<div class="container">
			<div class="card">
				<div class="card-body">
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos repellendus, ut molestiae, vitae quo magnam?</p>
				</div>
			</div>
		</div>

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<!-- section title -->
		<div class="section-title">
			<h6>Card Outline</h6>
		</div>
		<div class="container">
			<div class="card card-outline">
				<div class="card-body">
					<h5 class="card-title">Title Here</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos repellendus, ut molestiae, vitae quo magnam?</p>
				</div>
			</div>
		</div>

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<!-- section title -->
		<div class="section-title">
			<h6>Card Highlight</h6>
			<span class="section-subtitle">add<code>.card-highlight</code> and follow <code>.bg-theme</code> (default)</span>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-6">
					<div class="card card-highlight">
						<div class="card-body">
							<h5 class="card-title card-title-large">Pineapple</h5>
							<h6 class="card-subtitle">Ananas comosus</h6>

							<!-- separator -->
							<div class="separator-large"></div>
							<!-- end separator -->

							<h5 class="card-title card-title-small">John Doe</h5>
							<h6 class="card-location">New York, US</h6>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card card-highlight bg-blue">
						<div class="card-body">
							<h5 class="card-title card-title-large">Dragon Fruit</h5>
							<h6 class="card-subtitle">Hylocereus undatus</h6>

							<!-- separator -->
							<div class="separator-large"></div>
							<!-- end separator -->

							<h5 class="card-title card-title-small">John Doe</h5>
							<h6 class="card-location">New York, US</h6>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<!-- section title -->
		<div class="section-title">
			<h6>With Image</h6>
		</div>
		<div class="container">
			<div class="card card-image card-outline">
				<img src="static/images/horizontal5.jpg" class="card-img" alt="image-demo">
				<div class="card-body">
					<h5 class="card-title">John Doe</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, veniam.</p>
					<div class="card-date"><i class="icon ion-ios-calendar"></i> Feb 12</div>
				</div>
			</div>
		</div>

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<!-- section title -->
		<div class="section-title">
			<h6>Card List</h6>
		</div>
		<div class="container">
			<div class="card card-list card-outline">
				<div class="card-body">
					<h5 class="card-title">Collection</h5>
					<div class="card-list-item">
						<div class="card-list-media">
							<img src="static/images/square1.jpg" alt="image-demo">
						</div>
						<div class="card-list-title">Graphic Design</div>
					</div>
					<div class="card-list-item">
						<div class="card-list-media">
							<img src="static/images/square2.jpg" alt="image-demo">
						</div>
						<div class="card-list-title">Graphic Design</div>
					</div>
					<div class="card-list-item">
						<div class="card-list-media">
							<img src="static/images/square3.jpg" alt="image-demo">
						</div>
						<div class="card-list-title">Graphic Design</div>
					</div>
				</div>
				<div class="footer-card">
					<div class="card-date"><i class="icon ion-ios-calendar"></i> Feb 12</div>
					<div class="card-comment"><i class="icon ion-ios-chatbubbles"></i> 10 Comments</div>
				</div>
			</div>
		</div>

	</div>
	<!-- end cards -->

</div>
<!-- end pages wrapper -->

{% endblock %}