{% extends "base.html" %}

{% block body %}
	
<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
	</div>
	<div class="title">
		Contact Us
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->
	
	<!-- contact -->
	<div class="contact">
		<ul class="nav nav-fill nav-outline nav-two-column" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Information</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="social-tab" data-toggle="tab" href="#social" role="tab" aria-controls="social" aria-selected="false">Social</a>
			</li>
		</ul>

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<div class="tab-content">
			<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
				<div class="container">
					<div class="contact-info">
						<div class="content">
							<i class="icon ion-ios-mail"></i>
							<div class="text">
								<span class="text-small">Email</span>
								<h6>hello@contact.com</h6>
							</div>
						</div>

						<!-- separator -->
						<div class="separator-medium"></div>
						<!-- end separator -->

						<div class="content">
							<i class="icon ion-ios-call"></i>
							<div class="text">
								<span class="text-small">Phone Number</span>
								<h6>+1 2346 789</h6>
							</div>
						</div>

						<!-- separator -->
						<div class="separator-medium"></div>
						<!-- end separator -->

						<div class="content">
							<i class="icon ion-ios-pin"></i>
							<div class="text">
								<span class="text-small">Headquarters Address</span>
								<h6>Elit House 18, Light Street 2, California</h6>
							</div>
						</div>

						<!-- separator -->
						<div class="separator-medium"></div>
						<!-- end separator -->

						<div class="content">
							<i class="icon ion-ios-pin"></i>
							<div class="text">
								<span class="text-small">Branch Office Address</span>
								<h6>History Apartment, Sun Street 5, California</h6>
							</div>
						</div>

						<!-- separator -->
						<div class="separator-large"></div>
						<!-- end separator -->

						<div class="contact-map">
							<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.3060965204!2d-74.25987695601818!3d40.69714939158755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sKota+New+York%2C+New+York%2C+Amerika+Serikat!5e0!3m2!1sid!2sid!4v1520664948501"></iframe>
						</div>

						<!-- separator -->
						<div class="separator-large"></div>
						<!-- end separator -->

						<div class="contact-form">
							<form class="form-fill">
								<div class="form-wrapper">
									<div class="input-wrap">
										<input type="text" placeholder="Name">
									</div>
									<div class="input-wrap">
										<input type="email" placeholder="Email">
									</div>
									<div class="input-wrap">
										<textarea cols="30" rows="4" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="button-default">
									<button class="button">Submit</button>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="social" role="tabpanel" aria-labelledby="social-tab">
				<div class="list-view social-list">
					<ul>
						<li class="list-item">
							<div class="list-media media-circle">
								<i class="icon ion-logo-facebook bg-facebook"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Gebongka Healthmobile</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media media-circle">
								<i class="icon ion-logo-google bg-google"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Gebongka Healthmobile</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media media-circle">
								<i class="icon ion-logo-instagram bg-instagram"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Gebongka Health_app</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media media-circle">
								<i class="icon ion-logo-twitter bg-twitter"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Gebongka Healthmobile</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media media-circle">
								<i class="icon ion-logo-whatsapp bg-whatsapp"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Gebongka Healthmobile</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media media-circle">
								<i class="icon ion-logo-linkedin bg-linkedin"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Gebongka Healthmobile</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media media-circle">
								<i class="icon ion-logo-skype bg-skype"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Gebongka Healthmobile</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end contact -->

</div>
<!-- end pages wrapper -->

{% endblock %}