{% extends "base.html" %}

{% block body %}

<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
	</div>
	<div class="title">
		Forum
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->
	
	<!-- forum -->
	<div class="forum">

		<!-- section title -->
		<div class="section-title">
			<h6>Popular Topics</h6>
		</div>
		<!-- end section title -->

		<div class="swiper-container swiper-custom">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="#">
						<div class="content text-center bg-blue">
							<h4 class="color-white">Mobile</h4>
							<p class="color-white">20 topics</p>
						</div>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="#">
						<div class="content text-center bg-red">
							<h4 class="color-white">Graphic</h4>
							<p class="color-white">20 topics</p>
						</div>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="#">
						<div class="content text-center bg-yellow">
							<h4 class="color-white">Motion</h4>
							<p class="color-white">20 topics</p>
						</div>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="#">
						<div class="content text-center bg-purple">
							<h4 class="color-white">Coding</h4>
							<p class="color-white">20 topics</p>
						</div>
					</a>
				</div>
			</div>
		</div>

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<!-- section title -->
		<div class="section-title">
			<h6>Most Recent</h6>
		</div>
		<!-- end section title -->

		<div class="container">
			<div class="card bg-lightblue card-forum">
				<div class="card-body">
					<div class="card-avatar-image">
						<img src="static/images/square1.jpg" alt="">
						<div class="text">
							<h5 class="card-title">A website be created?</h5>
							<span class="title-name">John Doe</span>
							<span class="date"><i class="icon ion-ios-square"></i>15 min ago</span>
						</div>
						<div class="bookmark-symbol">
							<a href="#"><i class="icon ion-ios-bookmark"></i></a>
						</div>
					</div>

					<!-- separator -->
					<div class="separator-small"></div>
					<!-- end separator -->

					<div class="forum-action">
						<ul>
							<li><i class="icon ion-ios-eye"></i>115 views</li>
							<li><i class="icon ion-ios-undo"></i>48 replies</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- separator -->
			<div class="separator-medium"></div>
			<!-- end separator -->

			<div class="card bg-lightblue card-forum">
				<div class="card-body">
					<div class="card-avatar-image">
						<img src="static/images/square2.jpg" alt="">
						<div class="text">
							<h5 class="card-title">What is the duty of a developer?</h5>
							<span class="title-name">Mark Tyo</span>
							<span class="date"><i class="icon ion-ios-square"></i>2h ago</span>
						</div>
						<div class="bookmark-symbol">
							<a href="#"><i class="icon ion-ios-bookmark"></i></a>
						</div>
					</div>

					<!-- separator -->
					<div class="separator-small"></div>
					<!-- end separator -->

					<div class="forum-action">
						<ul>
							<li><i class="icon ion-ios-eye"></i>115 views</li>
							<li><i class="icon ion-ios-undo"></i>48 replies</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- separator -->
			<div class="separator-medium"></div>
			<!-- end separator -->

			<div class="card bg-lightblue card-forum">
				<div class="card-body">
					<div class="card-avatar-image">
						<img src="static/images/square3.jpg" alt="">
						<div class="text">
							<h5 class="card-title">A website be created?</h5>
							<span class="title-name">Simon S</span>
							<span class="date"><i class="icon ion-ios-square"></i>3 days ago</span>
						</div>
						<div class="bookmark-symbol">
							<a href="#"><i class="icon ion-ios-bookmark"></i></a>
						</div>
					</div>

					<!-- separator -->
					<div class="separator-small"></div>
					<!-- end separator -->

					<div class="forum-action">
						<ul>
							<li><i class="icon ion-ios-eye"></i>115 views</li>
							<li><i class="icon ion-ios-undo"></i>48 replies</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- separator -->
			<div class="separator-medium"></div>
			<!-- end separator -->

			<div class="card bg-lightblue card-forum">
				<div class="card-body">
					<div class="card-avatar-image">
						<img src="static/images/square4.jpg" alt="">
						<div class="text">
							<h5 class="card-title">How to change Password?</h5>
							<span class="title-name">John Doe</span>
							<span class="date"><i class="icon ion-ios-square"></i>1 week ago</span>
						</div>
						<div class="bookmark-symbol">
							<a href="#"><i class="icon ion-ios-bookmark"></i></a>
						</div>
					</div>

					<!-- separator -->
					<div class="separator-small"></div>
					<!-- end separator -->

					<div class="forum-action">
						<ul>
							<li><i class="icon ion-ios-eye"></i>115 views</li>
							<li><i class="icon ion-ios-undo"></i>48 replies</li>
						</ul>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!-- end forum -->

</div>
<!-- end pages wrapper -->

{% endblock %}