{% extends "base.html" %}

{% block body %}

<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
	</div>
	<div class="title">
		About Us
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->
	
	<!-- about us -->
	<div class="about-us">
		<div class="header-about">
			<div class="container">
				<img src="static/images/logo.png" alt="image-demo">
				<div class="about-title">
					<h4>Gebongka Health</h4>
					<span class="text-small">Mobile Template</span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, odio aliquam fugit.</p>
				<!-- separator -->
				<div class="separator-medium"></div>
				<!-- end separator -->
				<div class="social-media-icon socmed-for-about shadow-sm">
					<ul>
						<li><a href="#"><i class="icon ion-logo-facebook color-facebook"></i></a></li>
						<li><a href="#"><i class="icon ion-logo-instagram color-instagram"></i></a></li>
						<li><a href="#"><i class="icon ion-logo-google color-google"></i></a></li>
						<li><a href="#"><i class="icon ion-logo-dribbble color-dribbble"></i></a></li>
						<li><a href="#"><i class="icon ion-logo-whatsapp color-whatsapp"></i></a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<!-- feature list -->
		<div class="feature-list">
			<div class="swiper-container swiper-style-full">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="content bg-lightblue">
							<div class="wrap-icon">
								<i class="icon ion-ios-brush bg-blue"></i>
							</div>
							<div class="text">
								<h5>Easy to Edit</h5>
								<p>With a neat page layout and well arranged code</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="content bg-lightblue">
							<div class="wrap-icon">
								<i class="icon ion-ios-checkbox bg-green"></i>
							</div>
							<div class="text">
								<h5>Complete Features</h5>
								<p>Equipped with various features such as lists, buttons, and others</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="content bg-lightblue">
							<div class="wrap-icon">
								<i class="icon ion-ios-keypad bg-red"></i>
							</div>
							<div class="text">
								<h5>Well Documented</h5>
								<p>So that users easily use and customize this template</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end feature list -->

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<!-- counter -->
		<div class="counter">
			<div class="container">
				<div class="row">
					<div class="col-6">
						<div class="content bg-blue text-center">
							<h3 class="color-white">60</h3>
							<h5 class="color-white">Posts</h5>
						</div>
					</div>
					<div class="col-6">
						<div class="content bg-red text-center">
							<h3 class="color-white">28</h3>
							<h5 class="color-white">Project</h5>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="content bg-yellow text-center">
							<h3 class="color-white">28</h3>
							<h5 class="color-white">Followers</h5>
						</div>
					</div>
					<div class="col-6">
						<div class="content bg-purple text-center">
							<h3 class="color-white">109</h3>
							<h5 class="color-white">Likes</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end counter -->

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<!-- footer -->
		<div class="footer">
			<div class="container">
				<div class="content-box shadow-sm">
					<h4 class="mb-1">Gebongka Health</h4>
					<p class="made-by text-small">Made With <i class="icon ion-ios-heart"></i> Gebongka Team</p>
				</div>
			</div>
		</div>
		<!-- end footer -->

	</div>
	<!-- end about us -->

</div>
<!-- end pages wrapper -->

{% endblock %}