{% extends "base.html" %}

{% block body %}

<!-- navbar -->
<div class="navbar navbar-home navbar-left-title">
	<div class="left">
		<a href="#menu" class="link menu-link"><i class="icon ion-ios-menu"></i></a>
		<div class="title title-home">Features</div>
	</div>
	<div class="right">
		<a href="about-us" class="link"><img src="static/images/square6.jpg" alt=""></a>
	</div>
</div>
<!-- end navbar -->

<!-- sidebar -->
<div class="side-overlay"></div>
<div id="menu" class="panel sidebar" role="navigation">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

	<div class="list-view list-separate-two list-colored">
		<ul>
			<li>
				<a href="index" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-home bg-blue"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Home</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="features" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-star bg-red"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Features</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="pages" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-browsers bg-green"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Pages</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="apps" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-apps bg-yellow"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Apps</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="sign-in" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-log-in bg-purple"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Sign In</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="settings" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-settings bg-orange"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Settings</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

	<div class="list-view list-separate-two list-colored">
		<ul>
			<li>
				<a href="about-us" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-information-circle bg-lime"></i>
					</div>
					<div class="list-label">
						<div class="list-title">About</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="privacy" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-lock bg-blue"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Privacy</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-power bg-red"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Logout</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

</div>
<!-- end sidebar -->

<!-- page wrapper -->
<div class="page-wrapper">

	<div class="list-view list-separate-two list-colored">
		<ul>
			<li>
				<a href="accordion" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-arrow-down bg-blue"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Accordion</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="badges" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-star-half bg-red"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Badges</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="button" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-switch bg-green"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Button</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="cards" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-albums bg-yellow"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Card</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="carousel-slider" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-more bg-purple"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Carousel</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="form-elements" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-document bg-orange"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Form Elements</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="grid-system" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-keypad bg-lime"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Grid System</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="list" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-list bg-blue"></i>
					</div>
					<div class="list-label">
						<div class="list-title">List</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="navbar" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-reorder bg-red"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Navbar</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="pagination" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-code-working bg-green"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Pagination</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="popup" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-resize bg-yellow"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Popup</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="tabs" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-browsers bg-purple"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Tabs</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="timeline" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-list bg-orange"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Timeline</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

</div>
<!-- end page wrapper -->

<!-- toolbar bottom -->
<div class="toolbar">
	<div class="container">
		<ul class="toolbar-bottom toolbar-wrap">
			<li class="toolbar-item">
				<a href="index" class="toolbar-link">
					<i class="icon ion-ios-home"></i>
				</a>
			</li>
			<li class="toolbar-item">
				<a href="features" class="toolbar-link toolbar-link-active">
					<i class="icon ion-ios-star"></i>
				</a>
			</li>
			<li class="toolbar-item">
				<a href="pages" class="toolbar-link">
					<i class="icon ion-ios-browsers"></i>
				</a>
			</li>
			<li class="toolbar-item">
				<a href="apps" class="toolbar-link">
					<i class="icon ion-ios-apps"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- end toolbar bottom -->

{% endblock %}