{% extends "base.html" %}

{% block body %}

<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
	</div>
	<div class="title">
		Maintenance
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->
	
	<!-- maintenance -->
	<div class="maintenance">
		<div class="container">
			<img src="static/images/maintenance.png" alt="">
			<h5 class="mb-2">Website Under Maintenance</h5>
			<p class="text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis delectus ut sequi?</p>
			<div class="button-default">
				<div class="row">
					<div class="col-6">
						<a href="index" class="button">Home</a>
					</div>
					<div class="col-6">
						<a href="../apps/contact-us.html" class="button button-outline">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end maintenance -->

</div>
<!-- end pages wrapper -->

{% endblock %}