{% extends "base.html" %}

{% block body %}

<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
	</div>
	<div class="title">
		Navbar
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->
	
	<!-- navbar -->
	<div class="navbar-variant">

		<!-- section title -->
		<div class="section-title">
			<h6>Style Default</h6>
		</div>
		<!-- end section title -->

		<div class="navbar navbar-default">
			<div class="left">
				<a href="#" class="link"><i class="icon ion-ios-menu"></i></a>
			</div>
			<div class="title">
				Navbar
			</div>
			<div class="right">
				<a href="#" class="link"><i class="icon ion-ios-information-circle"></i></a>
			</div>
		</div>

		<!-- separator -->
		<div class="separator-small"></div>
		<!-- end separator -->

		<div class="navbar navbar-default">
			<div class="left">
				<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
			</div>
			<div class="title">
				Navbar Page
			</div>
			<div class="right">
			</div>
		</div>

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<!-- section title -->
		<div class="section-title">
			<h6>Style 1</h6>
		</div>
		<!-- end section title -->

		<div class="navbar navbar-default navbar-left-title">
			<div class="left">
				<a href="#" class="link"><i class="icon ion-ios-menu"></i></a>
				<div class="title">
					Navbar
				</div>
			</div>
			<div class="right">
				<a href="#" class="link"><i class="icon ion-ios-cart"></i></a>
				<a href="#" class="link"><i class="icon ion-ios-information-circle"></i></a>
			</div>
		</div>

		<!-- separator -->
		<div class="separator-small"></div>
		<!-- end separator -->

		<div class="navbar navbar-default navbar-left-title">
			<div class="left">
				<a href="#" class="link"><i class="icon ion-ios-menu"></i></a>
				<div class="title">
					Navbar Page
				</div>
			</div>
			<div class="right"></div>
		</div>
		
	</div>
	<!-- end navbar -->

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

	<!-- section title -->
	<div class="section-title">
		<h6>Colored</h6>
	</div>
	<!-- end section title -->

	<div class="navbar navbar-default navbar-highlight">
		<div class="left">
			<a href="#" class="link"><i class="icon ion-ios-menu"></i></a>
		</div>
		<div class="title">
			Navbar
		</div>
		<div class="right">
			<a href="#" class="link"><i class="icon ion-ios-information-circle"></i></a>
		</div>
	</div>

	<!-- separator -->
	<div class="separator-small"></div>
	<!-- end separator -->

	<div class="navbar navbar-default navbar-highlight">
		<div class="left">
			<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
		</div>
		<div class="title">
			Navbar Page
		</div>
		<div class="right">
		</div>
	</div>

</div>
<!-- end pages wrapper -->

{% endblock %}