{% extends "base.html" %}

{% block body %}

<!-- navbar -->
<div class="navbar navbar-home navbar-left-title">
	<div class="left">
		<a href="#menu" class="link menu-link"><i class="icon ion-ios-menu"></i></a>
		<div class="title title-home">Pages</div>
	</div>
	<div class="right">
		<a href="about-us" class="link"><img src="static/images/square6.jpg" alt=""></a>
	</div>
</div>
<!-- end navbar -->

<!-- sidebar -->
<div class="side-overlay"></div>
<div id="menu" class="panel sidebar" role="navigation">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

	<div class="list-view list-separate-two list-colored">
		<ul>
			<li>
				<a href="/" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-home bg-blue"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Home</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="features" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-star bg-red"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Features</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="pages" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-browsers bg-green"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Pages</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="apps" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-apps bg-yellow"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Apps</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="sign-in" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-log-in bg-purple"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Sign In</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="settings" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-settings bg-orange"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Settings</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

	<div class="list-view list-separate-two list-colored">
		<ul>
			<li>
				<a href="about-us" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-information-circle bg-lime"></i>
					</div>
					<div class="list-label">
						<div class="list-title">About</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="privacy" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-lock bg-blue"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Privacy</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-power bg-red"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Logout</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

</div>
<!-- end sidebar -->

<!-- page wrapper -->
<div class="page-wrapper">

	<div class="list-view list-separate-two list-colored">
		<ul>
			<li>
				<a href="about-us" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-information-circle bg-blue"></i>
					</div>
					<div class="list-label">
						<div class="list-title">About Us</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="faq" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-help-circle-outline bg-red"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Faq</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="forum" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-chatboxes bg-green"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Forum</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="gallery" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-images bg-yellow"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Gallery</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="maintenance" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-build bg-purple"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Maintenance</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="portfolio" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-image bg-orange"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Portfolio</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="pricing-table" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-pricetags bg-lime"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Pricing Table</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="profile" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-person bg-blue"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Profile</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="reset-password" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-unlock bg-red"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Reset Password</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="search-bar" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-search bg-green"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Search bar</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="settings" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-settings bg-yellow"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Settings</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="sign-in" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-log-in bg-purple"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Sign In</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="sign-up" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-add bg-orange"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Sign Up</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="testimonial" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-chatbubbles bg-lime"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Testimonial</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="privacy" class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-lock bg-blue"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Privacy</div>
						<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

</div>
<!-- end page wrapper -->

<!-- toolbar bottom -->
<div class="toolbar">
	<div class="container">
		<ul class="toolbar-bottom toolbar-wrap">
			<li class="toolbar-item">
				<a href="/" class="toolbar-link">
					<i class="icon ion-ios-home"></i>
				</a>
			</li>
			<li class="toolbar-item">
				<a href="features" class="toolbar-link">
					<i class="icon ion-ios-star"></i>
				</a>
			</li>
			<li class="toolbar-item">
				<a href="pages" class="toolbar-link toolbar-link-active">
					<i class="icon ion-ios-browsers"></i>
				</a>
			</li>
			<li class="toolbar-item">
				<a href="apps" class="toolbar-link">
					<i class="icon ion-ios-apps"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- end toolbar bottom -->

{% endblock %}