{% extends "base.html" %}

{% block body %}
	
<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
	</div>
	<div class="title">
		Accordion
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

	<!-- section title -->
	<div class="section-title">
		<h6>Accordion 1</h6>
		<span class="section-subtitle">Accordion inset <code>.accordion-inset</code></span>
	</div>
	<!-- end section title -->
	
	<!-- accordion -->
	<div id="accordionParent2" class="accordion accordion-inset">
		<div class="accordion-item">
			<div class="accordion-title collapsed" data-toggle="collapse" data-target="#accordionTwo1">Accordion title 1
				<div class="accordion-after">
					<i class="icon ion-ios-arrow-up"></i>
				</div>
			</div>
			<div id="accordionTwo1" class="accordion-body collapse" data-parent="#accordionParent2">
				<div class="accordion-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil amet, sunt obcaecati in! Ducimus consectetur fugiat iure eum?</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<div class="accordion-title collapsed" data-toggle="collapse" data-target="#accordionTwo2">Accordion title 2
				<div class="accordion-after">
					<i class="icon ion-ios-arrow-up"></i>
				</div>
			</div>
			<div id="accordionTwo2" class="accordion-body collapse" data-parent="#accordionParent2">
				<div class="accordion-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, quasi delectus magnam unde dolore. Saepe excepturi, expedita animi.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<div class="accordion-title collapsed" data-toggle="collapse" data-target="#accordionTwo3">Accordion title 3
				<div class="accordion-after">
					<i class="icon ion-ios-arrow-up"></i>
				</div>
			</div>
			<div id="accordionTwo3" class="accordion-body collapse" data-parent="#accordionParent2">
				<div class="accordion-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At deleniti sunt ea similique laborum ipsum asperiores delectus in.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<div class="accordion-title collapsed" data-toggle="collapse" data-target="#accordionTwo4">Accordion title 4
				<div class="accordion-after">
					<i class="icon ion-ios-arrow-up"></i>
				</div>
			</div>
			<div id="accordionTwo4" class="accordion-body collapse" data-parent="#accordionParent2">
				<div class="accordion-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam sint alias nobis, ratione quibusdam ullam nam ipsam veniam!</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end accordion -->

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

	<!-- section title -->
	<div class="section-title">
		<h6>Accordion 2</h6>
		<span class="section-subtitle">Accordion default</span>
	</div>
	<!-- end section title -->
	
	<!-- accordion -->
	<div id="accordionParent1" class="accordion">
		<div class="accordion-item">
			<div class="accordion-title collapsed" data-toggle="collapse" data-target="#accordionOne1">Accordion title 1
				<div class="accordion-after">
					<i class="icon ion-ios-arrow-up"></i>
				</div>
			</div>
			<div id="accordionOne1" class="accordion-body collapse" data-parent="#accordionParent1">
				<div class="accordion-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil amet, sunt obcaecati in! Ducimus consectetur fugiat iure eum?</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<div class="accordion-title collapsed" data-toggle="collapse" data-target="#accordionOne2">Accordion title 2
				<div class="accordion-after">
					<i class="icon ion-ios-arrow-up"></i>
				</div>
			</div>
			<div id="accordionOne2" class="accordion-body collapse" data-parent="#accordionParent1">
				<div class="accordion-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, quasi delectus magnam unde dolore. Saepe excepturi, expedita animi.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<div class="accordion-title collapsed" data-toggle="collapse" data-target="#accordionOne3">Accordion title 3
				<div class="accordion-after">
					<i class="icon ion-ios-arrow-up"></i>
				</div>
			</div>
			<div id="accordionOne3" class="accordion-body collapse" data-parent="#accordionParent1">
				<div class="accordion-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At deleniti sunt ea similique laborum ipsum asperiores delectus in.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<div class="accordion-title collapsed" data-toggle="collapse" data-target="#accordionOne4">Accordion title 4
				<div class="accordion-after">
					<i class="icon ion-ios-arrow-up"></i>
				</div>
			</div>
			<div id="accordionOne4" class="accordion-body collapse" data-parent="#accordionParent1">
				<div class="accordion-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam sint alias nobis, ratione quibusdam ullam nam ipsam veniam!</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end accordion -->

</div>
<!-- end pages wrapper -->

{% endblock %}