{% extends "base.html" %}

{% block body %}
	
<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
	</div>
	<div class="title">
		Badges
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->
	
	<!-- badges -->
	<div class="badges">
		<!-- section title -->
		<div class="section-title">
			<h6>List</h6>
		</div>
		<!-- end section title -->
		<div class="list-view">
			<ul>
				<li class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-person"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Israr Foley</div>
						<div class="list-after"><span class="badge badge-primary">CEO</span></div>
					</div>
				</li>
				<li class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-person"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Kobie Fenton</div>
						<div class="list-after"><span class="badge badge-primary">NEW</span></div>
					</div>
				</li>
				<li class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-person"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Curtis Bean</div>
						<div class="list-after"><span class="badge badge-primary">5</span></div>
					</div>
				</li>
				<li class="list-item">
					<div class="list-media">
						<i class="icon ion-ios-person"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Matt Seymour</div>
						<div class="list-after"><span class="badge badge-primary">0</span></div>
					</div>
				</li>
			</ul>
		</div>

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<!-- section title -->
		<div class="section-title">
			<h6>Colored</h6>
		</div>
		<!-- end section title -->
		<div class="list-view">
			<ul>
				<li class="list-item">
					<div class="list-label">
						<div class="list-title">Red</div>
						<div class="list-after"><span class="badge badge-danger">Red</span></div>
					</div>
				</li>
				<li class="list-item">
					<div class="list-label">
						<div class="list-title">Blue</div>
						<div class="list-after"><span class="badge badge-primary">Blue</span></div>
					</div>
				</li>
				<li class="list-item">
					<div class="list-label">
						<div class="list-title">Green</div>
						<div class="list-after"><span class="badge badge-success">Green</span></div>
					</div>
				</li>
				<li class="list-item">
					<div class="list-label">
						<div class="list-title">Yellow</div>
						<div class="list-after"><span class="badge badge-warning">Yellow</span></div>
					</div>
				</li>
			</ul>
		</div>

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<!-- section title -->
		<div class="section-title">
			<h6>With Button</h6>
		</div>
		<!-- end section title -->
		<div class="container">
			<div class="unordered-list-wrap">
				<ul>
					<li>
						<div class="wrap-button">
							<button type="button" class="button mt-0">Inbox <span class="badge badge-light">5</span></button>
						</div>
					</li>
					<li>
						<div class="wrap-button">
							<button type="button" class="button mt-0">Notification <span class="badge badge-light">8</span></button>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>
	<!-- end badges -->

</div>
<!-- end pages wrapper -->

{% endblock %}