<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="static/images/favicon.png">
	<title>Gebongka Health</title>

	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/fakeLoader.css">
	<link rel="stylesheet" href="static/css/swiper.min.css">
	<link rel="stylesheet" href="static/css/style.css">

</head>
<body>
	
    <!-- fakeloader -->
    <div class="fakeLoader"></div>
    <!-- end fakeloader -->

	<!-- flash messaging -->
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<div style="margin-top:50px">
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
					{{ message }}
					</div>
				{% endfor %}
			</div>
		{% endif %}
	{% endwith %}
	<!-- end flash messaging -->

	<!-- navbar -->
	<div class="navbar navbar-home">
		<div class="left">
			<a href="#menu" class="link menu-link"><i class="icon fa-solid fa-bars"></i></i></a>
		</div>
	</div>
	<!-- end navbar -->

	<!-- sidebar -->
	<div class="side-overlay"></div>
	<div id="menu" class="panel sidebar" role="navigation">
		<img src="static/images/brand.png" height="130" width="270">
		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<div class="list-view list-separate-two list-colored">
			<ul>
				<li>
					<a href="/" class="list-item">
						<div class="list-media">
							<i class="fa-solid fa-house-chimney bg-blue"></i>
						</div>
						<div class="list-label">
							<div class="list-title">Home</div>
							<div class="list-after"><i class="fa-solid fa-chevron-right"></i></i></i></div>
						</div>
					</a>
				</li>
				<li>
					<a href="features" class="list-item">
						<div class="list-media">
							<i class="fa-solid fa-border-all bg-green"></i>
						</div>
						<div class="list-label">
							<div class="list-title">Features</div>
							<div class="list-after"><i class="fa-solid fa-chevron-right"></i></i></i></div>
						</div>
					</a>
				</li>
				{% if current_user.is_authenticated %}

				{% else %}
				<li>
					<a href="{{ url_for('auth.login') }}" class="list-item">
						<div class="list-media">
							<i class="fa-solid fa-right-to-bracket bg-purple"></i>
						</div>
						<div class="list-label">
							<div class="list-title">Sign In</div>
							<div class="list-after"><i class="fa-solid fa-chevron-right"></i></i></i></div>
						</div>
					</a>
				</li>
				{% endif %}
				<li>
					<a href="settings" class="list-item">
						<div class="list-media">
							<i class="fa-solid fa-gears bg-orange"></i>
						</div>
						<div class="list-label">
							<div class="list-title">Settings</div>
							<div class="list-after"><i class="fa-solid fa-chevron-right"></i></i></i></div>
						</div>
					</a>
				</li>
			</ul>
		</div>

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

		<div class="list-view list-separate-two list-colored">
			<ul>
				<li>
					<a href="about-us" class="list-item">
						<div class="list-media">
							<i class="fa-solid fa-circle-info bg-lime"></i>
						</div>
						<div class="list-label">
							<div class="list-title">About</div>
							<div class="list-after"><i class="fa-solid fa-chevron-right"></i></i></i></div>
						</div>
					</a>
				</li>
				<li>
					<a href="privacy" class="list-item">
						<div class="list-media">
							<i class="fa-solid fa-user-lock bg-blue"></i>
						</div>
						<div class="list-label">
							<div class="list-title">Privacy</div>
							<div class="list-after"><i class="fa-solid fa-chevron-right"></i></i></i></div>
						</div>
					</a>
				</li>
				{% if current_user.is_authenticated %}
				<li>
					<a href="{{ url_for('auth.logout') }}" class="list-item">
						<div class="list-media">
							<i class="fa-solid fa-right-from-bracket bg-red"></i>
						</div>
						<div class="list-label">
							<div class="list-title">Logout</div>
							<div class="list-after"><i class="fa-solid fa-chevron-right"></i></i></i></div>
						</div>
					</a>
				</li>
				{% else %}

				{% endif %}
			</ul>
		</div>

		<!-- separator -->
		<div class="separator-large"></div>
		<!-- end separator -->

	</div>
	<!-- end sidebar -->

	<!-- main content -->
    {% block body %}	
    {% endblock %}
	<!-- end main content -->

	<!-- toolbar bottom -->
	<div class="toolbar">
		<div class="container">
			<ul class="toolbar-bottom toolbar-wrap">
				<li class="toolbar-item">
					<a href="/" class="toolbar-link toolbar-link">
						<i class="fa-solid fa-house-chimney"></i>
					</a>
				</li>
				<li class="toolbar-item">
					<a href="features" class="toolbar-link">
						<i class="fa-solid fa-border-all"></i>
					</a>
				</li>
				<li class="toolbar-item">
					<a href="profile" class="toolbar-link">
						<i class="fa-solid fa-user"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- end toolbar bottom -->

	{% block scripts %}
	{% endblock %}

	<script src="static/js/jquery-3.4.1.min.js"></script>
	<script src="static/js/jquery.big-slide.js"></script>
	<script src="static/js/bootstrap.bundle.min.js"></script>
	<script src="static/js/fakeLoader.js"></script>
	<script src="static/js/swiper.min.js"></script>
	<script src="static/js/main.js"></script>
	<script src="https://kit.fontawesome.com/eb393893ff.js" crossorigin="anonymous"></script>
	<script src="static/js/uploadBurn.js"></script>

</body>
</html>