{% extends "base.html" %}

{% block body %}

<!-- page wrapper -->
<div class="page-wrapper">

	<div class="list-view list-separate-two list-colored">
		<ul>
			<li>
				<a href="skin-condition" class="list-item">
					<div class="list-media">
						<i class="fa-solid fa-magnifying-glass bg-blue"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Skin Condition Identifier</div>
						<div class="list-after"><i class="fa-solid fa-chevron-right"></i></i></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="list-item">
					<div class="list-media">
						<i class="fa-solid fa-ruler bg-red"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Burn Grading</div>
						<div class="list-after"><i class="fa-solid fa-chevron-right"></i></i></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="list-item">
					<div class="list-media">
						<i class="fa-solid fa-comment-medical bg-green"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Chatbot Diagnosis</div>
						<div class="list-after"><i class="fa-solid fa-chevron-right"></i></i></i></div>
					</div>
				</a>
			</li>
			<li>
				<a href="nutrition-analyser" class="list-item">
					<div class="list-media">
						<i class="fa-solid fa-clipboard-check bg-yellow"></i>
					</div>
					<div class="list-label">
						<div class="list-title">Nutrition Analyser</div>
						<div class="list-after"><i class="fa-solid fa-chevron-right"></i></i></i></div>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

</div>
<!-- end page wrapper -->

{% endblock %}