{% extends "base.html" %}

{% block body %}

<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
	</div>
	<div class="title">
		Gallery
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-medium"></div>
	<!-- end separator -->
	
	<!-- gallery -->
	<div class="gallery">
		<div class="container">
			<div class="gallery-action">
				<div class="row">
					<div class="col-6">
						<div class="content">
							<div class="dropdown">
								<a href="#" id="dropdownMenuButton" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#">Newest</a>
									<a class="dropdown-item" href="#">Time modified</a>
									<a class="dropdown-item" href="#">Size</a>
									<a class="dropdown-item" href="#">Type</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="content">
							<ul class="nav nav-fill nav-tab-icon" id="myTab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="column-tab" data-toggle="tab" href="#column" role="tab" aria-controls="column" aria-selected="true"><i class="icon ion-ios-keypad"></i></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="fullwidth-tab" data-toggle="tab" href="#fullwidth" role="tab" aria-controls="fullwidth" aria-selected="false"><i class="icon ion-ios-square"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- separator -->
		<div class="separator-medium"></div>
		<!-- end separator -->

		<div class="tab-content">
			<div class="tab-pane fade show active" id="column" role="tabpanel" aria-labelledby="column-tab">
				<div class="container">
					<div class="row">
						<div class="col-4">
							<a href="static/images/square1.jpg" class="gallery-popup">
								<img src="static/images/square1.jpg" alt="image-demo">
							</a>
						</div>
						<div class="col-4">
							<a href="static/images/square2.jpg" class="gallery-popup">
								<img src="static/images/square2.jpg" alt="image-demo">
							</a>
						</div>
						<div class="col-4">
							<a href="static/images/square3.jpg" class="gallery-popup">
								<img src="static/images/square3.jpg" alt="image-demo">
							</a>
						</div>
					</div>

					<div class="row">
						<div class="col-4">
							<a href="static/images/square4.jpg" class="gallery-popup">
								<img src="static/images/square4.jpg" alt="image-demo">
							</a>
						</div>
						<div class="col-4">
							<a href="static/images/square5.jpg" class="gallery-popup">
								<img src="static/images/square5.jpg" alt="image-demo">
							</a>
						</div>
						<div class="col-4">
							<a href="static/images/square6.jpg" class="gallery-popup">
								<img src="static/images/square6.jpg" alt="image-demo">
							</a>
						</div>
					</div>

					<div class="row">
						<div class="col-4">
							<a href="static/images/square7.jpg" class="gallery-popup">
								<img src="static/images/square7.jpg" alt="image-demo">
							</a>
						</div>
						<div class="col-4">
							<a href="static/images/square8.jpg" class="gallery-popup">
								<img src="static/images/square8.jpg" alt="image-demo">
							</a>
						</div>
						<div class="col-4">
							<a href="static/images/square9.jpg" class="gallery-popup">
								<img src="static/images/square9.jpg" alt="image-demo">
							</a>
						</div>
					</div>

					<div class="row">
						<div class="col-4">
							<a href="static/images/square10.jpg" class="gallery-popup">
								<img src="static/images/square10.jpg" alt="image-demo">
							</a>
						</div>
						<div class="col-4">
							<a href="static/images/square11.jpg" class="gallery-popup">
								<img src="static/images/square11.jpg" alt="image-demo">
							</a>
						</div>
						<div class="col-4">
							<a href="static/images/square12.jpg" class="gallery-popup">
								<img src="static/images/square12.jpg" alt="image-demo">
							</a>
						</div>
					</div>

				</div>
			</div>
			<div class="tab-pane fade" id="fullwidth" role="tabpanel" aria-labelledby="fullwidth-tab">
				<div class="container">
					
					<div class="row">
						<div class="col-12">
							<img src="static/images/square1.jpg" alt="image-demo">
							<div class="img-caption">
								<div class="gallery-category">
									<span>Nature</span>
								</div>
								<h5 class="mb-1">Banana Clean Pattern</h5>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<img src="static/images/square1.jpg" alt="image-demo">
							<div class="img-caption">
								<div class="gallery-category">
									<span>Nature</span>
								</div>
								<h5 class="mb-1">Banana Clean Pattern</h5>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<img src="static/images/square1.jpg" alt="image-demo">
							<div class="img-caption">
								<div class="gallery-category">
									<span>Nature</span>
								</div>
								<h5 class="mb-1">Banana Clean Pattern</h5>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<img src="static/images/square1.jpg" alt="image-demo">
							<div class="img-caption">
								<div class="gallery-category">
									<span>Nature</span>
								</div>
								<h5 class="mb-1">Banana Clean Pattern</h5>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


	</div>
	<!-- end gallery -->

</div>
<!-- end pages wrapper -->

{% endblock %}