{% extends "base.html" %}

{% block body %}

<!-- page wrapper -->
<div class="page-wrapper">

	<div class="section-title title-large">
		{% if current_user.is_authenticated %}
		<h3>Hi {{ current_user.username }}, welcome back!</h3><br>
		<p>What do you want to do today?</p>
		{% else %}
		
		{% endif %}
	</div>

	<!-- intro app -->
	<div class="intro-app">
		<div class="container">
			<div class="intro-content">
				<img src="static/images/intro.jpg" alt="image-demo">
				<div class="caption">
					<h4 class="text-white mb-1">Welcome to Gebongka Health</h4>
					<p class="text-white">Start living well with us.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end intro app -->

	<!-- feature slide -->
	<div class="feature-slide">
		<div class="swiper-container swiper-style">
			<!-- our apps -->
			<div class="counter">
				<div class="container">
					<div class="row">
						<div class="col-6">
							<a href="skin-condition">
								<div class="content bg-grey text-center">
									<h3 class="color-white"><i class="fa-solid fa-magnifying-glass"></i></h3>
									<h5 class="color-white">Skin Condition Identifier</h5>
								</div>
							</a>
						</div>
						<div class="col-6">
							<a href="#">
								<div class="content bg-grey text-center">
									<h3 class="color-white"><i class="fa-solid fa-ruler"></i></h3>
									<h5 class="color-white">Burn Grading</h5>
								</div>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<a href="#">
								<div class="content bg-grey text-center">
									<h3 class="color-white"><i class="fa-solid fa-comment-medical"></i></h3>
									<h5 class="color-white">Chatbot Diagnosis</h5>
								</div>
							</a>
						</div>
						<div class="col-6">
							<a href="nutrition-analyser">
								<div class="content bg-grey text-center">
									<h3 class="color-white"><i class="fa-solid fa-clipboard-check"></i></h3>
									<h5 class="color-white">Nutrition Analyser</h5>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- end our apps -->
		</div>
	</div>

	<!-- feature list -->
	<div class="feature-list">
		<div class="swiper-container swiper-style-full">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="content bg-lightblue">
						<div class="wrap-icon">
							<i class="fa-solid fa-magnifying-glass bg-blue"></i>
						</div>
						<div class="text">
							<h5>Skin Condition Identifier</h5>
							<p>Identification of physical skin conditions</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="content bg-lightred">
						<div class="wrap-icon">
							<i class="fa-solid fa-ruler bg-red"></i>
						</div>
						<div class="text">
							<h5>Burn Grading</h5>
							<p>Grading the degree of burn injuries</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="content bg-lightgreen">
						<div class="wrap-icon">
							<i class="fa-solid fa-comment-medical bg-green"></i>
						</div>
						<div class="text">
							<h5>Chatbot Diagnosis</h5>
							<p>Diagnosis through an interactive chatbot</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="content bg-lightyellow">
						<div class="wrap-icon">
							<i class="fa-solid fa-clipboard-check bg-yellow"></i>
						</div>
						<div class="text">
							<h5>Nutrition Analyser</h5>
							<p>Identify nutrition information of food</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- feature list -->

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

	<!-- separator -->
	<div class="separator-small"></div>
	<!-- end separator -->

	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="content-box shadow-sm">
				<h4 class="mb-1">Gebongka Health</h4>
				<p class="made-by text-small">Made With <i class="fa-solid fa-heart"></i> Gebongka Team</p>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

</div>
<!-- end page wrapper -->

{% endblock %}