{% extends "base.html" %}

{% block body %}

<!-- page wrapper -->
<div class="page-wrapper">

	<div class="section-title title-large">
		{% if current_user.is_authenticated %}
		<h3>Hi {{ current_user.username }}, welcome back!</h3><br>
		<p>What do you want to do today?</p>
		{% else %}
		
		{% endif %}
	</div>

	<!-- intro app -->
	<div class="intro-app">
		<div class="container">
			<div class="intro-content">
				<img src="static/images/intro.jpg" alt="image-demo">
				<div class="caption">
					<h4 class="text-white mb-1">Welcome to Gebongka Health</h4>
					<p class="text-white">Start living well with us.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end intro app -->

	<!-- feature slide -->
	<div class="feature-slide">
		<div class="swiper-container swiper-style">
			<!-- our apps -->
			<div class="counter">
				<div class="container">
					<div class="row">
						<div class="col-6">
							<div class="content bg-grey text-center">
								<h3 class="color-white">60</h3>
								<h5 class="color-white">Posts</h5>
							</div>
						</div>
						<div class="col-6">
							<div class="content bg-grey text-center">
								<h3 class="color-white">28</h3>
								<h5 class="color-white">Project</h5>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="content bg-grey text-center">
								<h3 class="color-white">28</h3>
								<h5 class="color-white">Followers</h5>
							</div>
						</div>
						<div class="col-6">
							<div class="content bg-grey text-center">
								<h3 class="color-white">109</h3>
								<h5 class="color-white">Likes</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end our apps -->
		</div>
	</div>

	<!-- feature list -->
	<div class="feature-list">
		<div class="swiper-container swiper-style-full">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="content bg-lightblue">
						<div class="wrap-icon">
							<i class="icon ion-ios-brush bg-blue"></i>
						</div>
						<div class="text">
							<h5>feature 1</h5>
							<p>where we describe our features lol</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="content bg-lightgreen">
						<div class="wrap-icon">
							<i class="icon ion-ios-checkbox bg-green"></i>
						</div>
						<div class="text">
							<h5>feature 2</h5>
							<p>where we describe our features lol</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="content bg-lightred">
						<div class="wrap-icon">
							<i class="icon ion-ios-keypad bg-red"></i>
						</div>
						<div class="text">
							<h5>feature 3</h5>
							<p>where we describe our features lol</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="content bg-lightred">
						<div class="wrap-icon">
							<i class="icon ion-ios-keypad bg-red"></i>
						</div>
						<div class="text">
							<h5>feature 4</h5>
							<p>where we describe our features lol</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- feature list -->

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

	<!-- separator -->
	<div class="separator-small"></div>
	<!-- end separator -->

	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="content-box shadow-sm">
				<h4 class="mb-1">Gebongka Health</h4>
				<p class="made-by text-small">Made With <i class="icon ion-ios-heart"></i> Gebongka Team</p>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->

</div>
<!-- end page wrapper -->

{% endblock %}