{% extends "base.html" %}

{% block body %}

<!-- fakeloader -->
<div class="fakeLoader"></div>
<!-- end fakeloader -->

<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
	</div>
	<div class="title">
		Oops!
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->
	
	<!-- page not found -->
	<div class="page-not-found text-center">
		<div class="container">

			<h2 class="text-extra-large">404</h2>
			<h5 class="mb-2">Page not Found</h5>
			<p class="text-small"> The page you looking for is not found. Return to the homepage or contact us</p>

			<div class="button-default">
				<div class="row">
					<div class="col-6">
						<a href="/" class="button">Home</a>
					</div>
					<div class="col-6">
						<a href="contact-us" class="button">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end page not found -->

</div>
<!-- end pages wrapper -->

{% endblock %}