{% extends "base.html" %}

{% block body %}

<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
	</div>
	<div class="title">
		Portfolio
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->
	
	<!-- portfolio -->
	<div class="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<img src="static/images/square1.jpg" alt="image-demo">
					<div class="img-caption pb-0">
						<h5 class="mb-1">Salad</h5>
						<span class="text-small">Mix Fruit</span>
					</div>
				</div>
				<div class="col-6">
					<img src="static/images/square2.jpg" alt="image-demo">
					<div class="img-caption pb-0">
						<h5 class="mb-1">A Pineapple</h5>
						<span class="text-small">Fruit</span>
					</div>
				</div>
			</div>

			<!-- separator -->
			<div class="separator-small"></div>
			<!-- end separator -->

			<div class="row">
				<div class="col-6">
					<img src="static/images/square3.jpg" alt="image-demo">
					<div class="img-caption pb-0">
						<h5 class="mb-1">A Salad</h5>
						<span class="text-small">Mobile App</span>
					</div>
				</div>
				<div class="col-6">
					<img src="static/images/square4.jpg" alt="image-demo">
					<div class="img-caption pb-0">
						<h5 class="mb-1">Two Pineapple</h5>
						<span class="text-small">Mobile App</span>
					</div>
				</div>
			</div>

			<!-- separator -->
			<div class="separator-small"></div>
			<!-- end separator -->

			<div class="row">
				<div class="col-6">
					<img src="static/images/square5.jpg" alt="image-demo">
					<div class="img-caption pb-0">
						<h5 class="mb-1">A Bowl</h5>
						<span class="text-small">Mobile App</span>
					</div>
				</div>
				<div class="col-6">
					<img src="static/images/square6.jpg" alt="image-demo">
					<div class="img-caption pb-0">
						<h5 class="mb-1">Lemon Yellow</h5>
						<span class="text-small">Mobile App</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end portfolio -->

</div>
<!-- end pages wrapper -->

{% endblock %}