{% extends "base.html" %}

{% block body %}

<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
	</div>
	<div class="title">
		Pricing Table
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->
	
	<!-- pricing table -->
	<div class="pricing-table">

		<div class="swiper-container swiper-pricing">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="content radius-default bg-lightblue pd-default">
						<h4 class="pricing-title text-center">Basic</h4>
						<h3 class="pricing-number text-center">$30.00</h3>
						<div class="pricing-list">
							<ul>
								<li><i class="icon ion-ios-checkmark-circle-outline"></i>Responsive</li>
								<li><i class="icon ion-ios-checkmark-circle-outline"></i>Documentation</li>
								<li><i class="icon ion-ios-close-circle-outline"></i>Support</li>
								<li><i class="icon ion-ios-close-circle-outline"></i>Multimedia</li>
								<li><i class="icon ion-ios-close-circle-outline"></i>Lorem Ipsum</li>
								<li><i class="icon ion-ios-close-circle-outline"></i>Dolor Sit Amet</li>
								<li><i class="icon ion-ios-close-circle-outline"></i>Minim Veniam</li>
							</ul>
						</div>
						<div class="pricing-button">
							<button class="button">Get Started</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="content radius-default bg-blue pd-default">
						<h4 class="pricing-title text-center color-white">Standard</h4>
						<h3 class="pricing-number text-center">$50.00</h3>
						<div class="pricing-list color-white">
							<ul>
								<li><i class="icon ion-ios-checkmark-circle-outline"></i>Responsive</li>
								<li><i class="icon ion-ios-checkmark-circle-outline"></i>Documentation</li>
								<li><i class="icon ion-ios-checkmark-circle-outline"></i>Support</li>
								<li><i class="icon ion-ios-checkmark-circle-outline"></i>Multimedia</li>
								<li><i class="icon ion-ios-close-circle-outline"></i>Lorem Ipsum</li>
								<li><i class="icon ion-ios-close-circle-outline"></i>Dolor Sit Amet</li>
								<li><i class="icon ion-ios-close-circle-outline"></i>Minim Veniam</li>
							</ul>
						</div>
						<div class="pricing-button">
							<button class="button button-light">Get Started</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="content radius-default bg-lightblue pd-default">
						<h4 class="pricing-title text-center">Premium</h4>
						<h3 class="pricing-number text-center">$100.00</h3>
						<div class="pricing-list">
							<ul>
								<li><i class="icon ion-ios-checkmark-circle-outline"></i>Responsive</li>
								<li><i class="icon ion-ios-checkmark-circle-outline"></i>Documentation</li>
								<li><i class="icon ion-ios-checkmark-circle-outline"></i>Support</li>
								<li><i class="icon ion-ios-checkmark-circle-outline"></i>Multimedia</li>
								<li><i class="icon ion-ios-checkmark-circle-outline"></i>Lorem Ipsum</li>
								<li><i class="icon ion-ios-checkmark-circle-outline"></i>Dolor Sit Amet</li>
								<li><i class="icon ion-ios-checkmark-circle-outline"></i>Minim Veniam</li>
							</ul>
						</div>
						<div class="pricing-button">
							<button class="button">Get Started</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- end pricing table -->

</div>
<!-- end pages wrapper -->

{% endblock %}