{% extends "base.html" %}

{% block body %}


<!-- pages wrapper -->
<div class="pages-wrapper">

  <!-- separator -->
  <div class="separator-large"></div>
  <!-- end separator -->
  
  <!-- profile -->
  <div class="profile">
    <div class="container">
      <div class="row">
        <div class="col-4 align-self-center">
        </div>
        <div class="col-4">
          <div class="header-profile">
            <div class="container">
              <img src="static/images/square6.jpg" alt="image-demo">
            </div>
          </div>
        </div>
        <div class="col-4 align-self-center">
        </div>
      </div>

      <div class="profile-title text-center">
        <h4>{{current_user.username}}</h4>
      </div>

      <!-- separator -->
      <div class="separator-large"></div>
      <!-- end separator -->

      <ul class="nav nav-fill nav-default" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="ports-tab" data-toggle="tab" href="#ports" role="tab" aria-controls="ports" aria-selected="true">Past History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="collection-tab" data-toggle="tab" href="#collection" role="tab" aria-controls="collection" aria-selected="false">Collection</a>
        </li>
      </ul>

      <!-- separator -->
      <div class="separator-large"></div>
      <!-- end separator -->

	  <div class="tab-content">
		<div class="tab-pane show active" id="ports" role="tabpanel" aria-labelledby="ports-tab">
			<!-- pages wrapper -->
			<div class="pages-wrapper">
				
				<div class="intro-app">
					<div class="container">
						<div class="intro-content">
							<img src="static/images/intro.jpg" alt="image-demo">
							<div class="caption">
								<h4 class="text-white mb-1">Your past history</h4>
							</div>
						</div>
					</div>
				</div>

				<!-- separator -->
				<div class="separator-large"></div>
				<!-- end separator -->

				<!-- section title -->
				<div class="section-title">
					<h3><strong>Skin Condition Identifier</strong></h3>
					<span class="section-subtitle">Here are your previous predictions...</span>
				</div>
				<!-- end section title -->

				<div class="list-view list-separate-two list-colored">
					<ul style="height:200px; overflow:hidden; overflow-y:scroll;">
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-arrow-down bg-blue"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Accordion</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-arrow-down bg-blue"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Accordion</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-arrow-down bg-blue"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Accordion</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-arrow-down bg-blue"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Accordion</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-arrow-down bg-blue"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Accordion</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-arrow-down bg-blue"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Accordion</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-arrow-down bg-blue"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Accordion</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-arrow-down bg-blue"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Accordion</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-arrow-down bg-blue"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Accordion</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
					</ul>
				</div>

				<!-- separator -->
				<div class="separator-large"></div>
				<!-- end separator -->

				<!-- section title -->
				<div class="section-title">
					<h3><strong>Burn Grading</strong></h3>
					<span class="section-subtitle">Here are your previous predictions...</span>
				</div>
				<!-- end section title -->

				<div class="list-view list-separate-two list-colored">
					<ul style="height:200px; overflow:hidden; overflow-y:scroll;">
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-star-half bg-red"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Badges</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-star-half bg-red"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Badges</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-star-half bg-red"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Badges</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-star-half bg-red"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Badges</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-star-half bg-red"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Badges</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
					</ul>
				</div>

				<!-- separator -->
				<div class="separator-large"></div>
				<!-- end separator -->

				<!-- section title -->
				<div class="section-title">
					<h3><strong>Chatbot Diagnosis</strong></h3>
					<span class="section-subtitle">Here are your previous predictions...</span>
				</div>
				<!-- end section title -->

				<div class="list-view list-separate-two list-colored">
					<ul style="height:200px; overflow:hidden; overflow-y:scroll;">
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-switch bg-green"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Button</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-switch bg-green"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Button</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-switch bg-green"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Button</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-switch bg-green"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Button</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-switch bg-green"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Button</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-switch bg-green"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Button</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
					</ul>
				</div>

				<!-- separator -->
				<div class="separator-large"></div>
				<!-- end separator -->

				<!-- section title -->
				<div class="section-title">
					<h3><strong>Nutrition Analyser</strong></h3>
					<span class="section-subtitle">Here are your previous predictions...</span>
				</div>
				<!-- end section title -->

				<div class="list-view list-separate-two list-colored">
					<ul style="height:200px; overflow:hidden; overflow-y:scroll;">
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-switch bg-yellow"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Button</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-switch bg-yellow"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Button</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-switch bg-yellow"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Button</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-switch bg-yellow"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Button</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-switch bg-yellow"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Button</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
						<li class="list-item">
							<div class="list-media">
								<i class="icon ion-ios-switch bg-yellow"></i>
							</div>
							<div class="list-label">
								<div class="list-title">Button</div>
								<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
							</div>
						</li>
					</ul>
				</div>


			</div>
			<!-- end pages wrapper -->
		</div>
		<div class="tab-pane" id="collection" role="tabpanel" aria-labelledby="collection-tab">
			<div class="collection">
			</div>
		</div>
	</div>

    </div>
  </div>
  <!-- end profile -->

</div>
<!-- end pages wrapper -->

{% endblock %}