{% extends "base.html" %}

{% block body %}

<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
	</div>
	<div class="title">
		Tabs
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->
	
	<!-- tabs -->
	<div class="tabs-variant">
		<div class="list-view list-separate-two">
			<ul>
				<li>
					<a href="tabs1" class="list-item">
						<div class="list-label">
							<div class="list-title">Tabs 1</div>
							<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
						</div>
					</a>
				</li>
				<li>
					<a href="tabs2" class="list-item">
						<div class="list-label">
							<div class="list-title">Tabs 2</div>
							<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
						</div>
					</a>
				</li>
				<li>
					<a href="tabs3" class="list-item">
						<div class="list-label">
							<div class="list-title">Tabs 3</div>
							<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
						</div>
					</a>
				</li>
				<li>
					<a href="tabs4" class="list-item">
						<div class="list-label">
							<div class="list-title">Tabs 4</div>
							<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
						</div>
					</a>
				</li>
				<li>
					<a href="tabs5" class="list-item">
						<div class="list-label">
							<div class="list-title">Tabs 5</div>
							<div class="list-after"><i class="icon ion-ios-arrow-forward"></i></div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- end tabs -->

</div>
<!-- end pages wrapper -->

{% endblock %}