{% extends "base.html" %}

{% block body %}

<!-- navbar -->
<div class="navbar">
	<div class="left">
		<a href="" class="link link-back"><i class="icon ion-ios-arrow-back"></i></a>
	</div>
	<div class="title">
		Testimonial
	</div>
	<div class="right">
		
	</div>
</div>
<!-- end navbar -->

<!-- pages wrapper -->
<div class="pages-wrapper">

	<!-- separator -->
	<div class="separator-large"></div>
	<!-- end separator -->
	
	<!-- testimonial -->
	<div class="testimonial">
		<div class="swiper-container swiper-testimonial">
			<div class="swiper-pagination"></div>
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="testi-message">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores deleniti excepturi ipsam, eaque facere, molestiae debitis expedita recusandae neque nam.</p>
					</div>
					<div class="testi-img">
						<img src="static/images/square6.jpg" alt="image-demo">
						<h6>Daniel Porter</h6>
						<span class="text-small">@porterDaniel</span>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="testi-message">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores deleniti excepturi ipsam, eaque facere, molestiae debitis expedita recusandae neque nam.</p>
					</div>
					<div class="testi-img">
						<img src="static/images/square7.jpg" alt="image-demo">
						<h6>Zi Puckett</h6>
						<span class="text-small">@porterDaniel</span>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="testi-message">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores deleniti excepturi ipsam, eaque facere, molestiae debitis expedita recusandae neque nam.</p>
					</div>
					<div class="testi-img">
						<img src="static/images/square8.jpg" alt="image-demo">
						<h6>Tayyib Reader</h6>
						<span class="text-small">@porterDaniel</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonial -->

</div>
<!-- end pages wrapper -->

{% endblock %}